$box_shadow: rgba(9, 30, 66, 0.15);

$background_white: #fff;
$background_gray: #7bebad0d;
$background_primary: #f4f6f8;

$border_white: #fff;
$border_gray: #e7e4eb;

$text_desc: #9d9898;
$text_blue: #060686;
$text_light_red: #1d1a1a;
$text_title: #1d1a1a;
