@import "src/styles/global.scss";

.container {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: $background_primary;
  padding-top: 40px;
  .wrapper {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 32px;
    background-color: $background_white;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 $box_shadow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
